<!DOCTYPE html>
<html lang="en">
  <head>
      <style type="text.css">
          .container {
            width: 800px;
            margin: 50px auto;
          }
          .container form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
          }
          .container h1 {
            text-align: center;
          }
      </style>
  </head>
<div class="container">
  <div class="login-form">
    <form method="post">
      <h2 class="text-center">Add Group</h2>
        <div class="imgcontainer"></div>
        <div class="form-group">
          <p>Group Name</p>
          <input type="text" class="form-control" [(ngModel)]="group" name="group"/>
            </div>
            <div class="form-group">
              <p>Group Assis</p>
              <div class="form-group">
                <select name="selectedAssis" [(ngModel)]="selectedAssis">
                  <option *ngFor="let user of users" value="{{ user.username }}" name="member">
                    {{ user.username }}
                    </option>
                </select>
              </div>
            </div>
        
            <div class="form-group">
              <p>members</p>
              <div>
                <ul>
                  <li *ngFor="let member of members">{{ member }}</li>
                </ul>
              </div>
            </div>
        
            <div class="form-group">
              <select name="selectedMember" [(ngModel)]="selectedMember">
                <option *ngFor="let user of users" value="{{ user.username }}" name="member">
                  {{ user.username }}</option>
              </select>
              <br><br>
              <button type="submit" (click)="addMembers()">
                Add
              </button>
            </div>
        
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" (click)="createGroups()">
                Create
              </button>
            </div>
          </form>
        </div>
</div>
</html>