<!DOCTYPE html>
<html lang="en">
  <head>
      <style type="text.css">
          .container {
            width: 340px;
            margin: 50px auto;
          }
          .container form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
          }
          .container h1 {
            text-align: center;
          }
      </style>
  </head>
  <div class="container">
    <form>
        <h1>Channels</h1>
        <a *ngIf="profile.type == 'super' || profile.type == 'group' || profile.username == groupAssis" href="groups/channels/createChannel">Create Channel</a>
        <div *ngFor="let userChannel of userChannels">
        <div *ngIf="userChannel.members.indexOf(profile.username) >= 0 ||
          profile.type == 'super' ||
          profile.type == 'group' ||
          profile.username == groupAssis">
        </div>
        <h2>
            {{ userChannel.channel }}
        </h2>
        <div *ngFor="let member of toArray(userChannel.members)">
          <p>
            Channel Members: {{ member }}
            <button *ngIf="profile.type == 'super' || profile.type == 'group' || profile.username == groupAssis" type="submit" (click)="deleteChannelMember(member, userChannel.channel)">
              Delete
            </button>
          </p>
        </div>
        <button *ngIf="profile.type == 'super' || profile.type == 'group' || profile.username == groupAssis" (click)="deleteChannel(userChannel.channel)">Delete Channel</button>
        <button type="button" (click)="viewChat(member)">Chat</button>
        <div *ngIf="profile.type == 'super' || profile.type == 'group' || profile.username == groupAssis">
          {{ valid }}
          <select [(ngModel)]="selectChannel" name="selectChannel">
            <option *ngFor="let channel of userChannels" value="{{ channel.channel }}">
              {{ channel.channel }}
            </option>
          </select>
          <select [(ngModel)]="selectUser" name="selectUser">
            <option *ngFor="let user of users" value="{{ user }}">{{ user }}</option>
            </select>
            <button (click)="addMember()">Invite</button>
        </div>
      </div>
    </form>
    </div>
</html>
  